FastAPI and Server

fastapi
uvicorn
jinja2 
Database (SQLAlchemy with SQLite driver)

sqlalchemy
sqlmodel
Data Handling and Machine Learning

requests   # For fetching data from external APIs
pandas     # For data processing
scikit-learn # For training the prediction model
joblib     # For saving/loading the trained model
numpy
yfinance
ta
xgboost